{% load static %}
<html>
<head>
    <title>UPGRADE STUDY BLOG | Detail Page </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container my-4">
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}" class="float-right">
              {% include './icons/pencil-fill.svg' %}
            </a>
                {% endif %}
            {% endif %}
        </aside>
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
            <a class="btn btn-secondary" href="{% url 'delete' pk=post.pk %}" class="float-right">
              {% include './icons/trash-fill.svg' %}
            </a>
                {% endif %} 
            {% endif %} 
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        
        <p>{{ post.detail|linebreaksbr }}</p>
    </article>
    <button type="button" class="btn btn-warning"><a href="{% url 'post_list' %}">Retun to Home</a></button>
</div>
</body>
